body {
    background-image: url(background.jpg);
    background-size: cover;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 28px;
    color:aliceblue;
    padding: 20px;
}
h1 {
    color: #ac8a3f;
    text-align: center;
    font-size: 80px;
    font-family: cursive;
}
#message-el{
    font-style: italic;
}
button{
    width: 200px;
    height: 50px;
    font-family: cursive;
    color: #016f32;
    background-color: #ac8a3f;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 4px;
}
.stand{
    width: 200px;
    height: 50px;
    font-family: cursive;
    color: #ac8a3f;
    background-color: #ee0909;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 4px;
}

.cashout{
     width: 200px;
    height: 40px;
    font-family: cursive;
    color: #f70000;
    background-color: #1b5928;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 4px;
}

#player-el{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 15px;
    color:aliceblue;
    padding: 20px;
}